@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
    text-align: center;
}

.center-txt{
    font-size: 3rem;
    font-weight: 700;
}

.navItem{
    margin-right: 2rem;
}

.navItem:hover{
    font-style: italic;
}

.details-card-zone{
    max-width: 600px;
    padding: 2rem;
}

.details-card-img{
    max-height: 300px;
}

.detail-card-description{
    max-width: 626px;
}

.other-products{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.details-half{
    height: 340px;
  }